@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Itim", cursive;
}

.navbar {
  background-color: #BC903E;
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
}

.nav-link {
  font-size: 20px;
  font-weight: bold;
  color: #2F2F2F;
}
.nav-link:hover {
  background-color: #EEAF01;
  color: #000;
  border-radius: 8px;
}

.land-page {
  background-image: url("Assets/MAIN-IMG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.fixed-width-container {
  background: rgba(188, 144, 62, 0.45);
  max-width: 700px;
  padding: 30px;
  border-radius: 17px;
  position: absolute;
  top: 100px;
}
.fixed-width-container h1 {
  color: #2F2F2F;
  text-shadow: -3px -3px 0 #EEAF01, 3px -3px 0 #EEAF01, -3px 3px 0 #EEAF01, 3px 3px 0 #EEAF01, -3px 0 0 #EEAF01, 3px 0 0 #EEAF01, 0 -3px 0 #EEAF01, 0 3px 0 #EEAF01;
}
.fixed-width-container p {
  font-size: 1.5rem;
  color: #fff;
  text-shadow: -2px -2px 0 #BC903E, 2px -2px 0 #BC903E, -2px 2px 0 #BC903E, 2px 2px 0 #BC903E, -2px 0 0 #BC903E, 2px 0 0 #BC903E, 0 -2px 0 #BC903E, 0 2px 0 #BC903E;
}
.fixed-width-container .btn {
  background-color: #EEAF01;
  border-radius: 28px;
  color: #fff;
  font-size: 18px;
  transition: all 0.3s ease;
}
.fixed-width-container .btn:hover {
  padding: 12px;
  box-shadow: -6px 7px 5px 0px rgb(221, 190, 132);
  font-size: 18.5px;
}

.product {
  background-color: #DDBE84;
}
.product h1 {
  font-size: 5em;
  color: #532323;
}
.product .card {
  background-color: #BC903E;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
.product .card:hover {
  transform: scale(1.05);
}
.product .card .card-title {
  color: #FFF;
  font-size: 1.5rem;
}
.product .card .card-text {
  color: #FFE683;
}
.product .card .btn {
  background-color: #EEAF01;
  border-radius: 28px;
  color: #fff;
  font-size: 18px;
  transition: all 0.3s ease;
}
.product .card .btn:hover {
  padding: 12px;
  box-shadow: -6px 7px 5px 0px rgb(221, 190, 132);
  font-size: 18.5px;
}

.services {
  background-color: #BC903E;
}
.services .services-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services h1 {
  font-size: 4.5em;
  color: #532323;
}
.services .services-img-container {
  background-color: #DDBE84;
  border-radius: 150px;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
}

.img-parent {
  position: relative;
}

.img-child {
  color: #FFE683;
  font-size: 18px;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 24px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 85%;
}
.img-child .btn {
  background-color: #EEAF01;
  border-radius: 28px;
  color: #fff;
  font-size: 18px;
  transition: all 0.3s ease;
}
.img-child .btn:hover {
  padding: 12px;
  box-shadow: -6px 7px 5px 0px rgb(221, 190, 132);
  font-size: 18.5px;
}
@media screen and (max-width: 991px) {
  .img-child {
    top: 50%;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutUs {
  background-color: #DDBE84;
  height: 55vh;
}
.aboutUs .aboutUs-target {
  position: relative;
}
.aboutUs .aboutUs-target .stroke-yellow {
  text-shadow: rgb(238, 175, 1) 6px 0px 0px, rgb(238, 175, 1) 5.91686px 0.995377px 0px, rgb(238, 175, 1) 5.66974px 1.96317px 0px, rgb(238, 175, 1) 5.2655px 2.87655px 0px, rgb(238, 175, 1) 4.71532px 3.71022px 0px, rgb(238, 175, 1) 4.03447px 4.44106px 0px, rgb(238, 175, 1) 3.24181px 5.04883px 0px, rgb(238, 175, 1) 2.35931px 5.51667px 0px, rgb(238, 175, 1) 1.41143px 5.83163px 0px, rgb(238, 175, 1) 0.424423px 5.98497px 0px, rgb(238, 175, 1) -0.574341px 5.97245px 0px, rgb(238, 175, 1) -1.55719px 5.79441px 0px, rgb(238, 175, 1) -2.49688px 5.45578px 0px, rgb(238, 175, 1) -3.36738px 4.96596px 0px, rgb(238, 175, 1) -4.14455px 4.33852px 0px, rgb(238, 175, 1) -4.80686px 3.59083px 0px, rgb(238, 175, 1) -5.33596px 2.74364px 0px, rgb(238, 175, 1) -5.71718px 1.8204px 0px, rgb(238, 175, 1) -5.93995px 0.84672px 0px, rgb(238, 175, 1) -5.99811px -0.150428px 0px, rgb(238, 175, 1) -5.89004px -1.14341px 0px, rgb(238, 175, 1) -5.61874px -2.1047px 0px, rgb(238, 175, 1) -5.19172px -3.00766px 0px, rgb(238, 175, 1) -4.62082px -3.82727px 0px, rgb(238, 175, 1) -3.92186px -4.54081px 0px, rgb(238, 175, 1) -3.11421px -5.12852px 0px, rgb(238, 175, 1) -2.22026px -5.57409px 0px, rgb(238, 175, 1) -1.26477px -5.86518px 0px, rgb(238, 175, 1) -0.274238px -5.99373px 0px, rgb(238, 175, 1) 0.723898px -5.95617px 0px, rgb(238, 175, 1) 1.70197px -5.75355px 0px, rgb(238, 175, 1) 2.63288px -5.39147px 0px, rgb(238, 175, 1) 3.49082px -4.87998px 0px, rgb(238, 175, 1) 4.25202px -4.23324px 0px, rgb(238, 175, 1) 4.89538px -3.46919px 0px, rgb(238, 175, 1) 5.40307px -2.60899px 0px, rgb(238, 175, 1) 5.76102px -1.67649px 0px, rgb(238, 175, 1) 5.95932px -0.697531px 0px;
}
.aboutUs .aboutUs-target img {
  position: absolute;
  width: 5%;
  top: 85px;
  left: -20px;
}
.aboutUs li {
  font-size: 20px;
}
.aboutUs li .contacts-icons {
  width: 40px;
}

.email-container {
  position: relative;
  width: 60%;
}
.email-container .email-input {
  width: 100%;
  padding: 10px 60px 10px 15px;
  border: none;
  border-radius: 12px;
  background-color: #BC903E;
}
.email-container .email-input::placeholder {
  color: #555;
  font-size: 18px;
}
.email-container .send-button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #EEAF01;
  color: #000;
  border: none;
  border-radius: 12px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 1rem;
}
.email-container .send-button:hover {
  opacity: 0.9;
}

.footer-container {
  border-bottom: 1px solid #532323;
}

.icons {
  transition: width 0.8s ease;
  border-radius: 50%;
}
.icons:hover {
  background-color: #EEAF01;
  cursor: pointer;
  width: 35px;
}

/*# sourceMappingURL=style.css.map */
